<a href="https://colab.research.google.com/github/Malavshah26/Py/blob/main/ToolsForDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ToolsForDataScience

#Introduction

#Data science languages:
 · Python 
 · R 
 · SQL 
 · Java 
 · Julia 
 · Scala

#Libraries for Data Science :
TensorFlow,
NumPy,
SciPy, 
Pandas,
Matplotlib, 
Keras,
SciKit-Learn,
PyTorch,
Scrapy,
BeautifulSoup

#Tools for data science
Statistical Analysis System (SAS),
Apache Hadoop,
Tableau,
TensorFlow,
BigML,
Knime,
RapidMiner,
Excel,
Apache Flink,
PowerBI,
Google Analytics

#Arithmetic expression examples

5 -- a number is an arithmetic expression.
(3 + 4) -- the sum of numbers is an arithmetic expression.
(7 - 3) -- the difference of two numbers is an arithmetic expression.
(2 5), 2 5 -- a product of two numbers is an arithmetic expression.

In [ ]:
num_1 = 2
num_2 = 3
product = num_1 * num_2
print("Product of {} and {} is {}".format(num_1, num_2,product))

Product of 2 and 3 is 6

In [ ]:
def convert(sec):
   sec = sec % (24 * 3600)
   hour = sec // 3600
   sec %= 3600
   min = sec // 60
   sec %= 60
   print("seconds value in hours:",hour)
   print("seconds value in minutes:",min)
   return "%02d:%02d:%02d" % (hour, min, sec) 

n = 10000
print("Time in preferred format :-",convert(n))

seconds value in hours: 2
seconds value in minutes: 46
Time in preferred format :- 02:46:40

#MALAV SHAH